#
# These alternative versions of some packages are needed to build
# all of our recursive dependencies from source.
# They're taken from commented-out lines in requirements-build.in
#
setuptools-scm==7.1.0
    # via python-dateutil
tomli==2.0.2
    # via setuptools-scm
# The following packages are considered to be unsafe in a requirements file:
setuptools==78.1.1
    # via
    #   python-dateutil
    #   setuptools-scm
